/***********************************************************************
 * MAIN MENU
 **********************************************************************/
/* Style the links inside the sidenav */
#navMenu {
  background-color: rgba(76, 175, 80,0.95);
}

#navMenu:before {
  top: 20px;
  background-color: rgba(76, 175, 80,0.95);
}

#navMenu:active {
  background-color: green;
}


/***********************************************************************
 * HOLD MENU
 **********************************************************************/
/* Style the links inside the sidenav */
#holdMenu {
  background-color: rgba(76, 175, 80,0.95);
}

#holdMenu:before {
  top: 20px;
  background-color: rgba(76, 175, 80,0.95);
}

#holdMenu:active {
  background-color: green;
}

/***********************************************************************
 * META MENU
 **********************************************************************/
/* Style the links inside the sidenav */
#metaMenu {
  background-color: rgba(33, 150, 243, 0.95);
}

#metaMenu:before {
  top: 100px;
  background-color: rgba(33, 150, 243, 0.95);
}

#metaMenu:active {
  background-color: blue;
}

/***********************************************************************
 * SAVE MENU
 **********************************************************************/
/* Style the links inside the sidenav */
#saveMenu {
  background-color: rgba(244, 67, 54, 0.95);
}

#saveMenu:before {
  top: 180px;
  background-color: rgba(244, 67, 54, 0.95);
}

#saveMenu:active {
  background-color: red;
}
