:root {
  /* Sizing */
  --nav-width: 70px;
  --nav-width-x2: 320px;
  --nav-icon-size: 35px;
  --submenu-width: 250px;
}

html, body {
  height: 100vh;
  width: 100vw;
}

#wall-div{
  /*make the div centralized*/
  margin:0 auto;
  height: 90%;
  /*not sure why this has to be min but okay*/
  min-width: 85%;
  /* These are the dimensions of the wall image*/
  max-height: 3325px;
  max-width: 1069px;
  overflow: auto;
}

#route-canvas {
    display: block;
}

.browser-button {
  display: block;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--nav-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: lightgray; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: solid darkgray 3px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: var(--nav-icon-size);
  color: black;
  display: block;
}

.sidenav a:hover {
  color: darkgray;
}

.sidenav a.active {
  color: darkgray;
}

.sideextra {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--nav-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0; /* Stay on the right */
  background-color: lightgray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-left: solid darkgray 3px;
}

.sideextra a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: var(--nav-icon-size);
  color: black;
  display: block;
}

.sideextra a.hidden {
  display: none;
}

.sideextra a:hover {
  color: darkgray;
}

.sideextra a.active {
  color: darkgray;
}

.rightsubmenu {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--submenu-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: var(--nav-width); /* Stay on the right */
  background-color: lightgray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-right: 0;
  border-right: solid darkgray 1px;
  border-left: solid darkgray 3px;
}

.rightsubsubmenu {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--submenu-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: var(--nav-width-x2); /* Stay on the right */
  background-color: lightgray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-right: 0;
  border-right: solid darkgray 1px;
  border-left: solid darkgray 3px;
}

.hidden {
  display: none;
}

.img-div {
  height: 100px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.preview {
  vertical-align: middle;
  margin: 0 auto;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/***********************/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
