:root {
  /* Sizing */
  --nav-width: 70px;
  --nav-icon-size: 35px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--nav-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: lightgray; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: var(--nav-icon-size);
  color: black;
  display: block;
}

.sidenav a:hover {
  color: darkgray;
}

.sidenav a.active {
  color: darkgray;
}

.sideextra {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--nav-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0; /* Stay on the right */
  background-color: lightgray; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sideextra a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: var(--nav-icon-size);
  color: black;
  display: block;
}

.sideextra a.hidden {
  display: none;
}

.sideextra a:hover {
  color: darkgray;
}

.sideextra a.active {
  color: darkgray;
}

.rightsubmenu {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 0px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: var(--nav-width); /* Stay on the right */
  background-color: lightgray; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-right: 0;
  /* transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
