/* route-browser-button */
.browser-button {
  display: block;
}

/* browser div */
#route-browser {
  float:left;
  overflow: auto;
}

/* viewer div */
#route-viewer {
    width: 75vw;
    overflow: auto;
    border: 5px solid gray;
    float: left;
    clear: left;
}

#route-canvas {
    display: block;
}
