/***********************************************************************
 * App viewing
 **********************************************************************/
#app-container {
  height: 100%;
}
#wall-div {
  height: 80vh;
}

/***********************************************************************
 * MAIN MENU
 **********************************************************************/
/* Style the links inside the sidenav */
#navMenu {
  background-color: rgba(76, 175, 80,0.9);
}

#navMenu:before {
  top: 20px;
  background-color: rgba(76, 175, 80,0.9);
}

/***********************************************************************
 * ROUTE MENU
 **********************************************************************/
/* Style the links inside the sidenav */
#routeMenu {
  background-color: rgba(76, 175, 80,0.9);
}

#routeMenu:before {
  top: 20px;
  background-color: rgba(76, 175, 80,0.9);
}

/***********************************************************************
 * EDITROUTE MENU
 **********************************************************************/
/* Style the links inside the sidenav */
#editRouteMenu {
  background-color: rgba(33, 150, 243, 0.9);
}

#editRouteMenu:before {
  top: 100px;
  background-color: rgba(33, 150, 243, 0.9);
}

/***********************************************************************
 * ROUTE BUTTON
 **********************************************************************/
.route-button {
  margin: 10px 0 10px 0;
  display: block;
  background: #ddd;
  border: 2px solid black;
}

.route-button:hover {
  cursor: pointer;
}

.route-button:active {
  background: #aaa;
  color: white;
}

.route-button-grade {
  font-size: 36px;
  padding: 5px;
  border-right: 2px solid black;
}

.route-button-name {
  padding: 5px 0 2px 5px;
  font-size: 18px;
}

.route-button-setter {
  font-size: 14px;
  padding: 2px 0 5px 5px;
}
